.centerbutton{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* body{
    background-color: rgb(255, 255, 255);
}

.container {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    width: 100%;           
} 

.containerp{
    background-color: rgb(94, 230, 61);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    margin-top: 6px;
    width: 90%;    
    border: 1px solid #000000;
    padding-left: 5%;
    padding-right: 5%;
}  

H1{
    color: blue;
}  

h3{
    text-size-adjust: 30px;
    color: blue;
    text-align: center;
}

h4{
    color: rgb(25, 25, 248);
}

h5{
    color: rgb(25, 25, 248)
}

h6{
color: rgb(3, 161, 252);
}

.centerpicture{
    text-align: center;
    color: rgb(3, 161, 252);
}

img{    
    width: 100%;
} */